* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.necta-img {
    max-width: 50%;
    height: auto;
    max-height: 300px;
    pointer-events: none; 
}

.contact-icons {
    display: flex;
    gap: 25px;
    margin-top: 45px;
}

.contact-icons a {
    display: inline-block;
}

.email-img, .kakao-img {
    opacity: 0.5;
    height: 30px;
    transition: opacity 0.7s ease;

}

.contact-icons a:hover .email-img, .contact-icons a:hover .kakao-img {
    opacity: 1.0;
}

 footer {
            width: 100%;
            padding: 15px 0;
            text-align: center;
            background-color: #71cef4;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        footer p {
            margin: 5px 0;
            font-size: 14px;
        }
        footer a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }


@media (max-width: 768px) {
    .necta-img {
        max-height: 200px;
    }
    .contact-icons {
        margin-top: 27px;    }

    .email-img, .kakao-img {
        height: 25px;
    }
                footer p {
                font-size: 12px;
            }
}
