* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.necta-img {
    max-width: 50%;
    height: auto;
    max-height: 300px;
    pointer-events: none; 
}

.contact-icons {
    display: flex;
    gap: 25px;
    margin-top: 45px;
}

.contact-icons a {
    display: inline-block;
}

.note-img {
    opacity: 0.65;
    height: 40px;
    transition: opacity 0.7s ease;
}

.note-icon {
    position: relative;
    display: inline-block;
}

.new-badge {
    position: absolute;
    top: -22px;
    right: 3px;

    background-color: #ff3b30;   /* 강조용 레드 (조금만) */
    color: white;
    font-size: 8px;
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 12px;

    letter-spacing: 0.5px;
    pointer-events: none; /* 클릭 방해 안 하게 */
}
.new-badge::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 0;

    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid #ff3b30;
}

.email-img {
    opacity: 0.65;
    height: 40px;
    transition: opacity 0.7s ease;
}

.kakao-img {
    opacity: 0.65;
    height: 40px;
    transition: opacity 0.7s ease;

}

.contact-icons a:hover .email-img, .contact-icons a:hover .kakao-img, .contact-icons a:hover .note-img {
    opacity: 1.0;
}

 footer {
            width: 100%;
            padding: 15px 0;
            text-align: center;
            background-color: #231815;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        footer p {
            margin: 5px 0;
            font-size: 13px;
        }
        footer a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }



@media (max-width: 768px) {
    .necta-img {
        max-height: 200px;
    }
    .contact-icons {
        margin-top: 30px;    }

    .email-img, .kakao-img, .note-img {
        height: 30px;
    }
                .footer p {
                font-size: 12px;
            }

    .new-badge {
display: none;
    }

}
